<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Student Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <div class="d-flex">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit">Add Student</button>
            </div>
          </div>
        </div>
      </nav>
      <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>CLASS</th>
                <th>EMAIL</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ram</td>
                <td>10th</td>
                <td>ram@gmail.com</td>
                <td>
                    <input type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="Edit" class="btn btn-sucess">
                    <input type="button" value="Delete" class="btn btn-danger">
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>laxman</td>
                <td>12th</td>
                <td>laxman@gmail.com</td>
                <td>
                    <input type="button" value="Edit" class="btn btn-sucess">
                    <input type="button" value="Delete" class="btn btn-danger">
                </td>
            </tr>
        </tbody>

      </table>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Student Registration</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="studentValue">
            <div class="mb-3">
              <label for="txtName" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" id="txtName" placeholder="enter your name">
            </div>
            <div class="mb-3">
                <label for="txtclass" class="form-label">Class</label>
                <input type="text" formControlName="class" class="form-control" id="txtClass" placeholder="enter your class">
            </div>
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="email" id="txtEmail" placeholder="enter your email id">
            </div>
            <div class="mb-3">
                <label for="txtMobile" class="form-label">Mobile</label>
                <div class="input-group">
                    <div class="input-group-text">+91</div>
               <input type="text" class="form-control" formControlName="mobile" id="txtmobile" placeholder="enter your mobile no">
              </div>
              </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="AddStudent()">Save</button>
      </div>
    </div>
  </div>
</div>
